<div class='flex-row'>
  <div class='card d-flex flex-column'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <p id='blog-title' class='bold'>{{blog_title}}</p>
      <p>Created by {{user.name}} on {{format_date date_created}}</p>

    </div>

    <form class='form update-post-form'>
      <div class='form-group'>
        <textarea
          class='form-input'
          id='blog-description'
          name='blog-description'
        >{{blog_description}}</textarea>
      </div>
    </form>

  </div>
  <div class='d-flex flex-row justify-content-between p-2'>
    <button
      class='btn btn-sm btn-primary'
      id='comment-btn'
      data-id='{{id}}'
    >Update Post</button>
    <button class='btn btn-sm btn-danger' id="delete-btn" data-id='{{id}}'>Delete Post</button>

  </div>
</div>
<script src='/js/edit.js'></script>