<!-- Loop over each object in the projects array -->
<div class="flex-row">
  <div class="flex-column justify-space-around">
    {{#each blogs as |blog| }}
    <div class="card blog-card">
      <div class="card-header">
        <h3>
          <a href="/blog/{{blog.id}}">{{blog.blog_title}}</a>
          {{!-- double check how to reference a user_id as part of a query --}}
          Posted by {{blog.user_id}} on {{format_date date_created}}
        </h3>
      </div>
      <div class="card-body">
        <p>
          {{blog.blog_description}}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</div>