<!-- Loop over each object in the projects array -->
<div class="flex-row">
  <div class="flex-column justify-space-around">
    {{#each blogs as |blog| }}
    <div class="card blog-card">
      <div class="card-header d-flex flex-row justify-content-between">
        <div>
          <a href="/blog/{{blog.id}}">{{blog.blog_title}}</a>
        </div>
        {{!-- double check how to reference a user_id as part of a query --}}
        <div>
          Posted by {{user.name}} on {{format_date date_created}}

        </div>

      </div>
      <div class="card-body">
        <p>
          {{blog.blog_description}}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</div>